#aboutMeContainer {
  display: flex;
  justify-content: space-evenly;
}
#aboutMeTextContainer {
  width: 40vw;
}
#aboutMeText {
  width: 40vw;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em !important;
  margin: 2em !important;
  color: #00b4d8;
  align-self: center!important;

}
.AboutMeImage {
  max-width: 70rem;
}

@media (max-width: 640px) {
  #aboutMeContainer {
    flex-wrap: wrap-reverse;
  }
  #aboutMeTextContainer {
    width: 100vw;
  }

  .AboutMeImage {
    max-width: 15rem;
  }
  
  #aboutMeText {
    text-align: center;
  width: 80vw;

    margin: 0.1em;
  }
}
