#aboutMeContainer {
  display: flex;
  justify-content: space-evenly;
}
#aboutMeTextContainer {
  width: 40vw;
}

#aboutMeTitle {
  margin-bottom: 1rem;
  background-color: #0096c7;
  color: #ffffff;
  width: 50%;
  font-family: 'Viaoda Libre', cursive;
}

#aboutMeText {
  font-family: "Nunito", sans-serif;
  width: 40vw;
  height: 70%;
  align-items: center;
  text-align: center;
  padding: 2em !important;
  margin: 2em !important;
  color: #00b4d8;
  align-self: center !important;
}
.AboutMeImage {
  max-width: 35rem;
}

@media (max-width: 640px) {
  #aboutMeContainer {
    flex-wrap: wrap-reverse;
  }
  #aboutMeTextContainer {
    width: 100vw;
  }

#aboutMeTitle {
width:100%;
color: #00b4d8;
background-color: #ffffff;


}

  .AboutMeImage {
    max-width: 15rem;
  }

  #aboutMeText {
    text-align: center;
    width: 80vw;
    margin: 0.1em;
  }
}
