.Background{
display: flex;
justify-content: center;
flex-wrap: wrap;
background: url( 'https://paperpillar.com/assets/images/hero-guy-1-lg.png');
background-size: cover;
background-color:#3498DB;
height: 90vh;
position: relative;
}

.headerText{
    margin-top: 4%;
}
.white{
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#3498DB;}

    .white:hover{
        font-weight:500;
        color:#2E86C1;
    border-color:#F0F3F4 ;
    background-color: aliceblue;

    }