.textareaHeader {
  opacity: 0;
}

.Background {
  display: flex;
  justify-content: center;
  padding-bottom: 60vh;
  background-color: #f0f6f8 !important;
}

.HeaderImage {
  background-image: url("./../images/b.png");
  background-attachment: scroll;
  background-color: #f0f6f8 !important;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
}
.TextColorInHeader {
  color: #caf0f8 !important;
}
.headerText {
  position: relative;
  top: 6em;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}

#DownloadButton {
  color: #caf0f8;
  background-color: #00b4d8;
}

@media (max-width: 640px) {

  .HeaderImage {
    background-size: cover;
  }

  .headerText {
    padding-top: 15%;
    font-size: smaller;
    font-weight: lighter;
  }
}
