@import url("https://fonts.googleapis.com/css?family=Roboto");
.nav-item {
  font-family: "Nunito", sans-serif;
}



/* Class for all the icons on header*/
.IconsContainer {
  opacity: 1;

  color: #ffffff !important;
  margin: 0.5em;
  border-radius: 90%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.IconsContainer:hover {
  opacity: 0.9;
}
/* Icons styles */
.headerIcons {
  cursor: pointer;
  display: flex;
  justify-content: center!important;
  align-content: center;
}

#containerOfAllIcons {
  display: flex;
  justify-content: center!important;
}

.textareaHeader {
  opacity: 0;
    position: absolute; 
    left: -999em;
}

@media (max-width: 640px) {
  #containerOfAllIcons {
    margin: 0 !important;
    padding: 0 !important;
  }
}
