.background{
    flex-wrap: wrap;
    height: 90%;
background-color: #FDFEFE;
 margin-bottom: 7%;
}

.PortfolioTitle{
  font-family: 'Nunito', sans-serif;
text-align: center;
font-weight: 700;
}

.bottomTagg{

    border-bottom: 15vh solid #3498DB;
    border-left: 90vw solid transparent;
    text-align: center;
    flex-wrap: wrap;

}


.portfolioSection{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 5%;
}


.image{
    cursor: pointer;
    border-radius: 20px;
    max-width: 250px;
    height:200px ;
    opacity: 0.9;
    margin-top: 8%;
}

.image:hover,.image:focus{
    opacity: 1;
    transform: scale(1.1); 
    transition: 0.7s ease;
}




@media (max-width: 640px) {
    .background{
        padding-top: 4vh;
    }
  }

