.background{
    flex-wrap: wrap;
    height: 90%;
background-color: #FDFEFE;
 margin-top: 7%;
}


.tagg{

    border-top: 15vh solid #3498DB;
    border-right: 80vw solid transparent;
    text-align: center;
    flex-wrap: wrap;

}


.portfolioSection{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 5%;
}


.image{
    border-radius: 20px;
    max-width: 250px;
    height:220px ;
    opacity: 0.7;
    margin-top: 8%;
}

.image:hover{
    opacity: 0.9;
    transition: 0.7s ease;
}

/*  
@media(max-width:640px){
    .tagg{
    border-right: 300px solid transparent;
        
    }
}

*/