.RightTopButton {
    position: fixed;
    bottom: 2em;
    right: 6rem;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    padding: 1em;
    background-color: #00b4d8;
    color: #ffffff;
    border-radius: 100%;
  }