#SkillsBackgroundColor {
  background-color: #00b4d8;
  padding-bottom: 10vh;
  padding-top: 10vh;
}
.skillsTitle {
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-weight: 700;
}

.skillImage {
  max-width: 100%;
}

#git,
#MySql,
#CSS {
  color: #90e0ef;
}

#bootstrap,
#node,
#firebase,
#React,
#heroku {
  color: #0077b6;
}
