.skillsTitle{
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-weight: 700;
}

.skillImage{
    max-width: 100%;
}

#git{color: rgba(200, 20, 20, 0.808);}



#bootstrap{ background-color:  white ;
color:  #7d3c98 }

#node{color:  #58d68d }

#React{color:  #1f618d  ;}